.container {
    padding:20px;
    border:2px solid red;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 200px ;
    gap:15px
    
}
.box {
    background-color: bisque;
    border:black 2px solid;
}

/* Page Layouts Below */
@media (max-width: 767px) { /*Anything with an equal &/or smaller width will have the below code apply*/
    .container {
        grid-template-columns: 1fr;
    }
    button {
        width:200px;
        height:50px;
    }

}
@media (min-width:768px) { /*Anything with an equal &/or bigger width will have the below code apply*/
   .box {
     background-color: blue;
     color:white;
     text-align: center;
   } 
}
@media (min-width:1200px) { /*Anything with an equal &/or bigger width will have the below code apply*/
    .container {
        grid-template-columns: repeat(6, 1fr);
    }
}